@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>월별 누적된 태양광 발전량</title>
    <script src="~/lib/Chartjs/Chart.js"></script>
</head>
<body>
    <div>
        <canvas id="chartMonthSumGenerations"></canvas>
        <script>
            var chartMonthSumGenerationsTitle = "월별 누적된 태양광 발전량";
            var chartMonthSumGenerationsContext = document.getElementById("chartMonthSumGenerations").getContext('2d');
            var chartMonthSumGenerations = new Chart(chartMonthSumGenerationsContext, {
                type: 'bar',
                data: {
                    labels: [@ViewData["Labels"].ToString()],
                    datasets: [{
                        data: [@ViewBag.Values.ToString()],
                        backgroundColor: "rgba(54, 162, 235, 0.2)",
                        borderColor: "rgba(54, 162, 235, 0.75)",
                        borderWidth: 0.6
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: '' + chartMonthSumGenerationsTitle + ''
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: '월'
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            type: 'linear',
                            display: true,
                            position: 'left',
                            scaleLabel: {
                                display: true,
                                labelString: '전력량 (kWh)'
                            }
                        }]
                    },
                    legend: {
                        display: false,
                        labels: {
                            fontColor: 'rgb(255, 99, 132)'
                        }
                    }
                }
            });
        </script>
    </div>
</body>
</html>
